*{
    margin: 0;
    padding: 0;
    font-family: Book Antiqua;
}

body{
    width:-webkit-fill-available;
}

/*Spinner Start*/
#spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    left:50%;
    top:50%;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
.spinner-border{
    color: blue;
    width: 3rem; 
    height: 3rem;
    display: inline-block;
    vertical-align: -0.125em;
    border:0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: .75s linear infinite spinner-border;
}
.spin-circle{
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    position: absolute;
    width:1px;
    
}

@keyframes spinner-border {
    to{transform:rotate(360deg)}
}


/* Nav bar Start*/
.nav-box{
    display: grid; 
    position: static; 
    z-index: 10; 
    width: -webkit-fill-available;
}

.nav-box .nav-Quick-links{
    display: flex;
    align-items: center;
    /* background: linear-gradient(to right, #00008b, #ffffff, #fbff00); */
    /* background-color: rgb(101, 255, 255); */
    background-color:rgb(255, 255, 255);
    width: -webkit-fill-available;
    padding: 7px;
}

.nav-box .nav-Quick-links .company-name{
    position:relative;
    left:10%;
    font-size: 20px;
}
.nav-box .nav-Quick-links .company-name a{
    display: flex;
    color: #005491;
}
.nav-box .nav-Quick-links .company-name .CA-logo{
    /* border-radius: 25px; 
    box-shadow: inset 0px 0px 6px 0px rgb(55, 55, 164);  */
    border-radius: 15px;
    height: 70px;
    width: 80px; 
    background:url(../images/logo.jpg) no-repeat center;
    background-size: 119%;
}

.nav-box .nav-Quick-links .contact-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    width: 40%;
    right:11%;
    font-size: medium;
}
.nav-box .nav-Quick-links .contact-links a{
    color: black;
    font-weight: 900;
}

.nav-box .nav-Quick-links .contact-links i{
    margin-right: 5px;
}

.nav-bar{
    position:sticky;
    background-color:rgb(0 43 255 / 75%);
    height: max-content;
    width: -webkit-fill-available;
    transition: 0.5s;
}
.shadow-sm{
   box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
   position: fixed;
   min-height: max-content;
   transition: 0.5s;
   z-index: 10;
}
.nav-bar .nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Montserrat",sans-serif;
    margin-left: 10%;
    margin-right: 9%;
}

.nav-bar .nav-content .nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar .nav-content .nav-links a,.nav-bar .nav-content a{
    text-decoration: none;
    margin: 12px 35px 12px 0px;
    padding: 13px 25px 13px 25px;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    color: rgb(0, 0, 0);
    height: 100%;
}
.nav-bar .nav-content .nav-links a,.nav-bar .nav-content span{
    text-decoration: none;
    margin: 0px 35px 0px 0px;
    padding: 25px 25px 25px 25px;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    color: rgb(255, 255, 255);
    height: 100%;
    cursor: pointer;
}
.nav-bar .nav-content span .links-container{
visibility: collapse;
    position: absolute;
    top: 9.5vh;
    padding: 10px 0px 10px 0px;
    left: 0;
    width: -webkit-fill-available;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content:space-evenly ;
}
.nav-bar .nav-content span:hover .links-container{
    visibility: visible;
}
.nav-bar .nav-content span .links-container:hover{
    visibility: visible;
}
.nav-bar .nav-content span .links-container a{
    color: rgb(95, 95, 95);
    margin: 0;
    padding: 0;
}
.nav-bar .nav-content span .links-container .links-card:hover a{
    color: #0400ff;
}
/*Nav-bar End*/



/*slide-show start*/
#Page-Top{
    height: 90vh; 
    width: -webkit-fill-available; 
    background-color: 
    rgba(55,22,180,0.5);
    scroll-behavior: smooth;
    overflow: hidden;
}
/*Slide-show End*/

/*About Us Start*/
#About{
    padding-top: 145px;
    margin-top: -150px;
}
.About-us{
    width: -webkit-fill-available;
    height: 80vh;
    background: url(../images/about-bg.jpg) no-repeat center;
    background-size: 100%;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:30px 30px 0 30px;
}

.About-card{
    background-color: rgba(98, 0, 155, 0.8);
    margin-right: 10%;
    color: #ffffff;
    height: 85%;
    width: 30%;
    padding: 2%;
    display: grid;
}
.Know-more-button{
    justify-self: flex-end;
    background-color: #128d00;
    color: white;
    border-radius: 25px;
    height: fit-content;
    text-decoration: none;
    padding: 6px 25px 6px 25px;
}
/*About Us End*/

/*Our Teams Start*/
#Teams{
    position: relative;
    z-index: 1;
    padding-top: 100px;
    margin-top: -80px;
}
#Teams .Teams-container{
    width: -webkit-fill-available;
    height: 80vh;
    padding: 50px 50px 0px 50px;
    background-color: rgba(0,0,0,0.02);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#Teams .Teams-container .card-container{
    display: flex;
    justify-content: center;
    background-color: rgba(255,255,255,0.075);
    padding: 15px 10px 0 10px;
    height: 100%;
    width: 90%;
}
#Teams .Teams-container .card-container .carousel .carousel-inner .carousel-item .Partners{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.75);
}
#Teams .Teams-container .card-container .carousel .carousel-inner .carousel-item .Partners .card{
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    opacity: 0.95;
    align-items: center;
    font-weight: 900;
    padding: 10px;
    height: 80%;
    width: 25%;
}
#Teams .Teams-container .card-container .carousel .carousel-inner .carousel-item .Partners .card:hover{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    opacity: 1;
    height: 83%;
    width: 26%;
}
#Teams .Teams-container .card-container .carousel .carousel-inner .carousel-item .Partners .card a{
    margin-top: 5px;
    height: min-content;
    padding: 10px 20px 10px 20px; 
    color: #ffffff;
    background-color: rgb(89, 112, 155); 
}
#Teams .Teams-container .card-container .carousel .carousel-inner .carousel-item .Partners .card:hover a{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    background-color: rgb(110, 144, 207);
}
/* Crousel Strts*/
.carousel-item{
    position:relative;
    display:none;
    float:left;
    width:100%;
    height: 100%;
    margin-right:-100%;
    backface-visibility:hidden;
    transition:transform .6s ease-in-out;
    opacity:0;
    transition-property:opacity;
    transform:none;
}
.carousel-item.active{
    display: block;
}
.carousel-fade .carousel-item.active,.carousel-fade .carousel-item-next.carousel-item-start,.carousel-fade .carousel-item-prev.carousel-item-end{
    z-index:1;
    opacity:1;
    animation:fadeIn 0.5s;
}
.carousel-fade .active.carousel-item-start,.carousel-fade .active.carousel-item-end{
    z-index:0;
    opacity:0;
    transition:opacity 0s .6s
}
@media (prefers-reduced-motion: reduce){
    .carousel-fade .active.carousel-item-start,.carousel-fade .active.carousel-item-end{
        transition:none
    }
}
.prev-btn{
    left: 10vw;
}
.next-btn{
    right: 10vw;
}
.btn{
    font-size: 30px;
    position:absolute;
    cursor: pointer;
    z-index:1;
    display:flex;
    align-items:center;
    justify-content:center;
    height: fit-content;
    width:fit-content;
    padding:20px;
    text-align:center;
    background-color: #ffffff;
    color: #00000e !important;
    border:0;
    opacity:0.5;
    transition:opacity 0.15s ease;
}
.btn:hover{
    transition: 0.2s;
    font-size: 50px !important;
    color: #0400ff !important;
}
/*Our Teams End*/

/*Services Start*/
#Services{
    padding-top: 110px;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
    height: fit-content;
    background: white;
}
#Services .services-Heading{
    width: fit-content;
    height: fit-content;
    padding: 5vh 0 2vh 0;
}
#Services .services-container{
    width: -webkit-fill-available;
    padding: 50px 0 50px 0;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 1% 11% 2% 11%;
    box-shadow: inset 0 0 10px -3px rgba(0, 89, 255, 0.75);
    border-radius: 10px;
    background-color: rgba(0, 255, 255, 0.05 );
}
#Services .services-container .card{
    padding-top: 50px;
    padding-bottom: 20px;
    word-wrap: break-word;
    width: 28.5%;
    height: fit-content;
    margin: 0%;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 5px 0 rgba(0, 47, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#Services .services-container .card h3{
    margin-bottom: 3%;
}
/*Services End*/


/*Sectors Start*/
#sectors{
    padding-top: 10px;
    background: white;
    height: fit-content;
}
#sectors .sectors-container{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding-bottom: 50px;
}
#sectors .sectors-container .sectors-heading{
    padding: 0 0 20px 5vw;
}
#sectors .sectors-container .sectors-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 5vw;
}
#sectors .sectors-container .sectors-gallery .card{
    width: 20vw;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Sectors End*/

/*Contact Us Start*/
#Contact-us{
    padding-top: 110px;
    margin-top: -100px;
    width: -webkit-fill-available;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#Contact-us .contact-Heading{
    width: fit-content;
    margin: 5vh 0 2vh 0;
}
.contact-content{
    height: -webki-fill-available;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-content .form{
    font-size: 18px;
    margin: 0 0 0 100px;
}
.contact-content .form form{
    width: 30vw;
    height: 60vh;
}
.contact-content .form form input{
    border: none;
    background-color: antiquewhite;
    padding: 5px;
    font-size: medium;
}
/*Contact us End*/

/*Footer Start*/
#Footer{
    height: 50vh;
    width: -webkit-fill-available;
    background-color: #00000e;
    color: #ffffff98;
}
.footer-content{
    height: 35vh;
    width: -webkit-fill-available;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-content .content{
    height: -webkit-fill-available;
    width: 20%;
}
.footer-content .content h1{
    color:white;
}
.footer-content .content a{
    color: #ffffff98;
    margin-bottom: 10px;
}
.footer-content .content a:hover{
    color: rgb(0, 183, 255);
}
#Footer .rights{
    display: flex;
    align-items: center;
    padding:0 0 0 2%;
}

.footer-content .fas{
    margin: 2px 10px 2px 2px;
}

/*Back To top*/
.back-to-top{
    text-decoration: none;
    background-color: #3255c3;
    font-size: 1.5rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 45px;
    bottom: 45px;
    z-index: 99;
    transition: 0.5s;
    width: 48px;
    height: 48px;
    padding: 0;
    color: white;
    border-radius: 50%;
}